<%= parse('_admin') %>
<div>
<sub>Menu</sub><br />
<%= link('company', "Firma") %> | <%= link('bank', "Bank") %> | <%= link('assets', "Majątek") %> | <%= link('logistics', "Logistyka") %>
</div>
<hr />

<% if (errors.hasErrors()) { %>
	<div id="errors">
	<ul>
		<% errors.getMessages().each { k, v -> %>
			<% v.each { %> 
				<li><%= it %> 
			<% } %>
		<% } %>
	</ul>
	</div>
<% } %>


<% if (messages.size() > 0) { %>
	<div id="messages">
		<% messages.each { %>
		  <ul>
		  	<li><%= it %></li>
		  </ul>
		
		<% } %>
	</div>
<% } %>