<%= popup ("board.jpg", "Witaj XYZ!", { %>
	Firma, w której pracowałeś przeżyła głęboki kryzys i stanęła na skraju bankructwa! Poprzedni CEO dopuścił się 
	wielu machlojek i wygenerował ogromne zadłużenie. Niestety aby spłacić długi musieliśmy sprzedać wszystkie assety.
	Jedyne co zostało to gotówka w wysokości <b>100.000 $</b>.
	Jest jednak nadzieja. Decyzją zarządu zostałeś wybrany nowym prezesem firmy! Z jednej strony jesteś szczęsliwy, ale 
	z drugiej strony wiesz, że to ogromna odpowiedzialność. Czy odbudujesz firmę i sprawisz, że będzie się 
	ona liczyć na całym świecie? Czy stać Cię na to, aby w krótkim czasie wspiąć się na wyżyny? 
	Pokaż, że nie bez powodu zostałeś wybrany na to stanowisko!
	Jako nowy CEO firmy może decydować o wszystkim. Zacznij od zmiany nazwy firmy:
	
	<br /><br />
	<input type='text' value='Bankrut Inc.' autofocus /><input type='submit' value='Rozpocznij!' />
	
	<br /><br />
	<sub>
	P.S. Czemu Ci wszyscy ludzie w zarządzie to faceci? ;)
	</sub>
<% }) %>